/* fonts: Roboto Slab, PT Sans Caption  */
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|PT+Sans+Caption&subset=latin,cyrillic);
a {
    text-decoration: none;
    color: white;
}

.header{
    width: 100%;
    background: #5171d1;
    display: flex;
    justify-content: space-around;
}

.lab_info{
    font-size: 20px;
    color: white;
    font-family: 'Roboto Slab', fantasy;
}

.everything_table{
    width: 100%;
}

.everything_table .first-row-in-everything-table {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5%;
}

.graph{
    stroke-width: 1.5;
}

@media (max-width: 960px) {
    .first-row-in-everything-table{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header{
        width: auto;
    }
    .lab_info{
        font-size: 10px;
    }
}