.X-radios,
.R-checkboxes,
.Y-element-label,
#coordinates-form button{
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-weight: bolder;
}
.R-checkboxes,
#coordinates-form button,
#value-validate-text{
    margin-top: 10%;
}


.Y-element-label,
.X-radios,
button,
.R-checkboxes{
    font-size: 100%;
    font-family: 'Roboto Slab', fantasy;
}


.x-element-label,
.x_radio,
.r-element-label,
.r-checkbox,
#value-validate-text{
    display: block;
    text-align: center;
}

input[type=text] {
    margin-left: 5%;
}

@media (max-width: 960px) {
    #coordinates-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:0;
    }
    .X-radios,
    .R-checkboxes,
    .Y-element-label{
        margin: auto;
    }
}